body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  box-sizing: border-box;
  width: 400px;
  background: #fff;
  padding: 8px 1px 1px 1px;
}


.title, .content, .button-container {
  margin: 8px;
}

.title {
  box-sizing: border-box;
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
}

.content {
  box-sizing: border-box;
  background: #e3f4ff;
  padding: 16px 8px 16px 8px;
}

.button-container {
  box-sizing: border-box;
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
}

button {
  box-sizing: border-box;
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
  padding: 8px 24px 8px 24px;
}